{% extends 'html/base.html' %}
{% block title %} Registration {% endblock %}
{% block form_body %}
<form action="" method="post" enctype="multipart/form-data" novalidate>

    {% csrf_token %}

    {% for field in form.visible_fields %}
            <div class="row">
                <div class="col-sm-4"> {{ field.label }}</div>
                <div class="col-sm-4"> {{field}}</div>
                {% if field.errors %} 
                  {% for error in field.errors %}
                  <div class="col-sm-4">
                      {{error}}
                  </div>
                  {% endfor %}
                {% endif %}  
                </div>
                {% endfor%}
          
    <button type="submit">Sign up</button>
</form>
    
{% endblock %}
